!!! 5
html(lang='en')

	head
		meta(charset='utf-8')

		title
			block title
				| Paula Chumanovitch - Artsta Visual
		
		block meta
			meta(name='description', content='')

		block styelsheets
	
	body
		include header

		block content

		block scripts

		include footer