-load static from staticfiles

!!! 5
html(lang='en')

	head
		meta(charset='utf-8')

		title
			block title
				| Paula Chumanovitch - Artsta Visual
		

		block meta
			meta(name='description', content='')

		block styelsheets
			link(rel='stylesheets', href='{% static "css/vendor/bootstrap.min.css" %}')
			link(rel='stylesheets', href='{% static "css/app.css" %}')

	include header
	
	body

		block content

		block scripts
			script(scr='{% static "js/app.js" %}')
	
	
	include footer