-load static from staticfiles

header
	img(scr="{% static 'img/header_img.jpg' %}")
	h1
		| Paula Chimanovitch

	button
		| Hamb

	nav
		ul
			li
				a.nav-btn(href='{% url "content:works" %}')
					| Obras
			li
				a.nav-btn(href='{% url "content:processes" %}')
					| Processos
			li
				a.nav-btn(href='{% url "about" %}')
					| Sobre Paula
			li
				a.nav-btn(href='{% url "contact" %}')
					| Contato